In [1]:
import joblib
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel('Earthquake_data_processed.xlsx')
data.sample(2)

,Unnamed: 0,Latitude(deg),Longitude(deg),Depth(km),Magnitude(ergs),No_of_Stations,Gap,Close,RMS,SRC,EventID,YeoJohnson_Magnitude(ergs),MagType_ML,MagType_Md,MagType_Mw,MagType_Mx
1750,1973-01-19 19:10:58.600,38.1502,-121.8360,13.90,3.14,15,114,3,0.21,NCSN,-1014211,-0.730536,0,1,0,0
3428,1975-09-01 04:41:41.920,39.4097,-121.4928,2.31,3.11,16,77,1,0.05,NCSN,-1026065,-0.879778,0,1,0,0

In [5]:
testData = data.sample(7)
testData

,Unnamed: 0,Latitude(deg),Longitude(deg),Depth(km),Magnitude(ergs),No_of_Stations,Gap,Close,RMS,SRC,EventID,YeoJohnson_Magnitude(ergs),MagType_ML,MagType_Md,MagType_Mw,MagType_Mx
17228,2004-08-12 09:57:52.080,36.2423,-120.8015,6.84,3.03,66,68,3,0.07,NCSN,21388046,-1.320848,1,0,0,0
14686,1997-09-20 06:08:02.620,40.9605,-124.4757,21.15,3.23,33,218,44,0.07,NCSN,521838,-0.328845,1,0,0,0
17194,2004-06-05 02:46:51.110,35.5415,-121.3057,1.40,3.58,64,202,19,0.12,NCSN,21368984,0.746914,1,0,0,0
13666,1994-12-27 12:34:10.040,38.8413,-122.8240,3.11,3.02,39,46,5,0.04,NCSN,30065182,-1.380775,0,1,0,0
12649,1993-10-11 06:37:03.790,36.8748,-121.2817,6.16,3.08,72,49,3,0.05,NCSN,30031497,-1.037524,0,1,0,0
2842,1974-12-23 00:40:36.270,36.9113,-121.4737,4.75,3.40,42,55,4,0.14,NCSN,-1022335,0.274457,0,1,0,0
3588,1975-12-07 18:59:09.820,37.9703,-122.3395,6.86,3.00,46,67,8,0.09,NCSN,-1027857,-1.504080,1,0,0,0

In [37]:
x = testData.drop(columns=['Latitude(deg)','Longitude(deg)','SRC','EventID','Unnamed: 0','MagType_ML','MagType_Md','MagType_Mw','MagType_Mx','YeoJohnson_Magnitude(ergs)'])
x=x[5:6]

In [38]:
x

      Depth(km)  Magnitude(ergs)  No_of_Stations  Gap  Close   RMS
2842       4.75              3.4              42   55      4  0.14

In [39]:
import joblib
earthquake_locatio_predictor = joblib.load(r'D:\Earthquake-prediction-ML\models\location_predictor.pkl')

In [40]:
prediction = earthquake_locatio_predictor.predict(np.array(x))
prediction

c:\Users\PARTHIV\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
c:\Users\PARTHIV\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([[  37.10071267, -120.94133067]])

In [41]:
pred_list = prediction.tolist()
pred_list

[[37.10071266666665, -120.94133066666669]]