In [8]:
import joblib
import numpy as np
import pandas as pd

In [9]:
data = pd.read_excel('Dataset/Processed_data/Earthquake_data_processed.xlsx')
data.sample(2)

,Unnamed: 0,Latitude(deg),Longitude(deg),Depth(km),Magnitude(ergs),No_of_Stations,Gap,Close,RMS,SRC,EventID,MagType_ML,MagType_Md,MagType_Mw,MagType_Mx
16225,2001-05-14 17:13:30.140,34.2335,-117.4343,7.37,3.76,6,123,24,0.01,NCSN,21164171,0,1,0,0
7113,1983-05-06 04:31:25.210,36.3340,-120.3353,5.15,3.23,39,108,2,0.16,NCSN,-1093051,0,1,0,0

In [10]:
# true_magnitude = data[data['Magnitude(ergs)']]['Magnitude(ergs)'].sample(1)
testData = data.sample(1)
testData = testData.sample(1)
testData

,Unnamed: 0,Latitude(deg),Longitude(deg),Depth(km),Magnitude(ergs),No_of_Stations,Gap,Close,RMS,SRC,EventID,MagType_ML,MagType_Md,MagType_Mw,MagType_Mx
7497,1983-11-01 19:47:18.090,39.5793,-123.3657,0.18,3.09,25,64,8,0.1,NCSN,-1106072,0,1,0,0

In [11]:
x = testData.drop(columns=['Magnitude(ergs)','SRC','EventID','Unnamed: 0','MagType_ML','MagType_Md','MagType_Mw','MagType_Mx'])

x = x.values.tolist()
print(type(x))
print(x)
np.array(x)

<class 'list'>
[[39.5793, -123.3657, 0.18, 25.0, 64.0, 8.0, 0.1]]

array([[ 3.957930e+01, -1.233657e+02,  1.800000e-01,  2.500000e+01,
         6.400000e+01,  8.000000e+00,  1.000000e-01]])

In [12]:
import joblib

mag_predictor = joblib.load(r'D:\Earthquake-prediction-using-Machine-learning-models-main\models\MagPred_random_forest_regressor_200_estimators_minSampLeaf_5_minSampleSplit6_oob_True.pkl')

In [13]:
predArray = mag_predictor.predict(np.array(x))
predArray

c:\Users\PARTHIV\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([3.25658696])

In [14]:
predArray.tolist()[0]

3.256586963845624